# React Project
/node_modules
.parcel-cache/

# Build artifacts
/dist

# OS
.DS_Store

# IDE
.vscode

# Environment variables
.env
.env.development.local
.env.production.local

#Yarn
yarn-error.log

# Firebase
serviceAccountKey.json
upload.js