/* reset css */

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}
